.admin {
    margin: auto;
    width: auto;
    padding-top: 40px;
    min-height: 84vh;
}

.adminhead{
    margin: 10px auto;
    text-align: center;
}
.other{
    height: 590px;
    overflow-y: auto;
}
.other .menu{
    width: fit-content;
    margin: 30px auto;
}
.other .menu button{
    margin: 0px 20px;
    padding:4px 10px;
    cursor: pointer;
}

.other table {
    margin: 20px auto;
}
.other table th,.other table td {
    margin: 5px;
    padding: 5px;
}


.ModalAdmin{
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    width: auto;
    margin: 55px auto;
    min-height: 70vh;
}

.admin .timer {
    /* width: 60%; */
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.timer form{
    width: fit-content;
    margin: auto;
    text-align: center;
}
.timer div{
    margin: 5px 0px;
}

.timer form input{
    padding: 4px 10px;
    outline: none;
    border-radius: 4px;
    border: none;
    margin: 4px auto;
}

.otherRequest{
    width: fit-content;
    margin: auto!important;
    display: flex;
}
.otherRequest div{
    margin: 10px;
}
.otherRequest button{
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 4px auto;
}

.adminhead h1 {
    color: white;
    padding: 20px;
    font-size: 120px;
    margin-top: 100px;
}

.ModalAdmin .modalBody form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    margin: auto;
}

.ModalAdmin  .modalBody form input{
    padding: 5px 10px;
    border:none;
    border-radius:4px;
    margin: 5px auto;
    font-size: 20px;
    outline: none;
}
.ModalAdmin .modalBody form button,form button {
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 4px auto;
}

.adminTable {
    width: 90vw;
    /* border: 2px solid var(--shadow-color); */
    margin: auto;
}
 .adminTableHead, .row {
    display: flex;
    color: white;
    cursor: pointer;
}
.adminTableBody .row:hover {
    background-color: rgba(173, 216, 230, 0.2);
}
.adminTableBody  li {
    list-style: none;
    margin: 0px;
    width: 100%;
    padding: 10px;
    text-align: left;
    width: 11.4vw!important;
}

.adminTableHead li {
    font-weight: 900;
    background-color: rgba(173, 216, 230, 0.2);
    backdrop-filter: blur(10px);
    font-size: 18px;
    width: 11.4vw!important;
}
.adminTableHead .row .id{
    width: 10px!important;
}
.id{
   width: 10px!important;
}

.error{
    background-color:#d32f2f;
}
.success{
    background-color: #2e7d32;
}
.hide{
    display: none;
}
