.Market {
    margin: auto;
    width: auto;
    padding-top: 40px;
    min-height: 88vh;
    max-width: 1440px;
}

.Markethead{
    margin: 10px auto;
    text-align: center;
}

.Markethead h1 {
    color: white;
    padding: 20px;
    font-size: 120px;
}
.Markethead h2 {
    padding: 20px;
        color:var(--text-color);
}
.Markethead span {
   color: var(--text-green-color);
}



.Markethead .searchbox {
    margin: auto;
    width: fit-content;
    position: relative;
}

.Markethead .searchbox input {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--shadow-color);
    padding: 7px 13px;
    border-radius: 20px;
    font-size: 20px;
    width: 350px;
    color: white;
}
.searchIcon {
    position: absolute;
    top: 10px;
    right: 11px;
    color: white;
    cursor: pointer;
}

.searchIcon:hover {
    color: var(--shadow-color)
}
.updated{
    margin: 60px 0px 30px 0px;
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
}
.updated span{
    color: var(--text-green-color);
}
.stockscard h2{
    font-size: 65px;
    margin-bottom: 30px;
}
.stockscard .cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}
.stockscard .cards .scard{
  margin: auto;
  width: fit-content;
  /* padding: 20px; */
  font-size: 20px;
  text-align: left;
  /* width: 15rem; */
  position: relative;
}
.scard img {
  width: clamp(320px, 28vw, 404px);
  height: clamp(210px, 19.8vw, 286px);
}
.stock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: clamp(250px, 20.8vw, 300px);
    transform: translate(-50%, -50%);
}
.stockscard .nameStock{
    font-weight: 800;
    font-size:clamp(22px, 2.07vw, 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
       color: var(--text-color);
}

.stockscard .nStock{
    margin: 2px 0px;
      font-size: clamp(14px, 1.25vw, 18px);
      color: #CDCDCD !important;
      display: flex;
      justify-content: space-between;
}

.stockscard .noStocks{
    font-size: clamp(12px, 1.1vw, 16px);
    color: rgb(140, 16, 140);
    margin-bottom: 20px;
}
.stockscard .priceStocks{
    font-weight: 700;
    font-size: clamp(22px, 2.07vw, 30px);
    position: relative;
      color: var(--text-color);
}
.stockscard .priceStocks span{
    position: absolute;
    right: 0px;
    color: red;
}
.stockscard .priceStocks .downIcon{
    font-size: clamp(14px, 1.25vw, 18px);
    stroke-width: 2;
    margin: -3px;
}
.stockscard .updateStocks{
  font-size: clamp(14px, 1.25vw, 18px);
  color: rgb(160, 160, 160);
  position: relative;
  margin: 3px 0px 10px 0px;
}
.stockscard .updateStocks .span{
    position: absolute;
    right: 0px;
}

.stockscard .buybutton{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}
.stockscard .buymore{
     border-radius: clamp(5px, 0.48vw, 7px);
     width: clamp(95px, 8.65vw, 125px);
     height:clamp(32px, 2.6vw, 38px);
     border: 1px !important;
     background-color: #297904 !important;
     color: white;
     font-weight: 700;
     cursor: pointer;
     font-size: Clamp(15px, 1.35vw, 20px);
     outline: none;
}
.stockscard .buymore:hover{
   background-color: transparent !important;
   border: 2px solid #297904 !important;
   /* color: rgb(140, 16, 140); */
   backdrop-filter: blur(10px);
}

.snackbar{
    width: fit-content;
    margin: auto;
    color: white;
    /* background-color: red; */
    padding: 5px 5px 5px 10px;
    border-radius: 0px 0px 5px 5px;
    font-weight: 600;
}
.snackbar a{
    /* color: black; */
    font-weight: 700;
    margin: 0px 5px;
}
.snackbar a:hover{
    color: white;
}
.snackbar button{
    background-color: transparent;
    color: white;
    padding: 3px 6px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 5px;
}
.snackbar button:hover{
    font-weight: 900;
    background-color:rgba(0, 0, 0,0.2);
}
.msgmodal{
    padding: 10px!important;
    text-align: center;
    position:absolute;
    left: 50%;
    top: 50%;
    font-size: 22px;
    z-index: 99999;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width :750px) {
    .Markethead h1 {
        font-size: 13vw;
    }
}
@media only screen and (max-width :500px) {
    .Markethead .searchbox input {
        width: 60vw;

        font-size: 16px;
    }

    .Markethead h1 {
        font-size: auto;
    }
       .searchIcon {
        top: 6px;
    }
}