.footer {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
}
.footer img {
  width: auto;
  height: 40px;
}
.footer h2 {
  margin: 10px;
}
