*{
    margin: 0;
    padding: 0;
}
.portfolio{
    width: fit-content;
    margin: auto;
    padding: 30px 20px ;
   
}
.portfolio .heading{
    padding: 20px 20px;
    color: white;
    font-size: 50px;
    text-align: center;
}
.portfolio .body{
    width: fit-content;
    /* border:1px solid white; */
    margin: 10px auto;
    
}
.portfolio .card{
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border-style: solid;
    border: none;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 20px;
    font-size: 20px;
}
.portfolio .card p{
    color: white;
    padding: 10px 28px;
}
.portfolio .card span{
    color: green;
}
.portfolio .card .total{
    border-top: 2px solid var(--shadow-color);;
}
.msg{
    margin: 30px 0px 0px 0px;
    text-align: center;
    color: green;
    font-size: 13px;
}
.msg span{
    color: white;
}
.stockDetails{
    text-align: center;
    margin: 30px 0px;
    color: white;
    font-size: 20px;
}
.stockDetails h2{
    font-size: 45px;
    margin-bottom: 30px;
}
.stockDetails .cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}
.stockDetails .cards .scard{
    margin: auto;
    width: fit-content;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border-style: solid;
    border: none;
    box-shadow: 5px 4px 0px 2px var(--shadow-color);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    width:15rem;
    background-color:rgba(28, 74, 176,0.4);
}
.stockDetails .nameStock{
    font-weight: 800;
}

.stockDetails .nStock{
    font-size: 12px;
    color: rgb(160, 160, 160);
    margin: 2px 0px;
}

.stockDetails .noStocks{
    font-size: 16px;
    color: rgb(140, 16, 140);
    margin-bottom: 20px;
}
.stockDetails .priceStocks{
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.stockDetails .priceStocks span{
    position: absolute;
    right: 0px;
    color: red;
}
.stockDetails .priceStocks .downIcon{
    font-size: 19px;
    stroke-width: 2;
    margin: -3px;
}
.stockDetails .updateStocks{
    font-size: 12px;
    color: rgb(160, 160, 160);
    position: relative;
    margin: 3px 0px 10px 0px;
}
.stockDetails .updateStocks .span{
    position: absolute;
    right: 0px;
}

.stockDetails .button{
    position: relative;
}
.stockDetails .buymore{
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid rgba(28, 74, 176,0.4);
    background-color:rgb(140, 16, 140);
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}
.stockDetails .buymore:hover{
    background-color:transparent;
    border: 1px solid rgb(140, 16, 140);
    /* color: rgb(140, 16, 140); */
    backdrop-filter: blur(10px);
    
}
.stockDetails .sell{
    padding: 4px 8px;
    border-radius: 5px;
    border: none;
    background-color:red;
    color: white;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 4px;
    border: 1px solid rgba(28, 74, 176,0.4);
    font-size: 16px;
    outline: none;
}
.stockDetails .sell:hover{
    background-color:transparent;
    border: 1px solid red;
    backdrop-filter: blur(10px);
}

.marketbtn{
    margin: 30px auto;
    padding: 6px 9px;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgb(140, 16, 140);
    border-radius: 6px;
    cursor: pointer;
}
.marketbtn:hover{
    background-color:rgb(140, 16, 140);
}

.ReactModal__Overlay{
    background-color: rgba(0, 0, 0, 0.4)!important;
}

.ReactModal__Content{
    width: 350px;
    margin: 30px auto;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.6)!important;
    backdrop-filter: blur(12px);
    border: 2px solid var(--shadow-color)!important;
    padding: 0px!important;
}
.ReactModal__Content .modalheader{
    margin: 8px 15px;
    color: white;
}
.ReactModal__Content .modalBody{
    color: white;
    margin: 10px 15px;   
    text-align:center;
}
.ReactModal__Content .modalBody input{
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 6px;
    border:none;
    outline: none;
    width: 250px;
}
.ReactModal__Content .modalFooter{
    margin: 8px 15px;
    text-align: center;
}
.ReactModal__Content .modalFooter button{
    margin: 10px 5px;
    padding: 5px 15px 5px 6px;
    outline: none;
    border:none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.ReactModal__Content .modalFooter .buy{
    background-color:rgb(140, 16, 140);
}
.ReactModal__Content .modalFooter .buy:hover{
    background-color:transparent;
    padding: 4px 14px 4px 5px;
    border: 1px solid rgb(140, 16, 140);
}

.ReactModal__Content .modalFooter .close{
    background-color: red;
}
.ReactModal__Content .modalFooter .close:hover{
    background-color:transparent;
    padding: 4px 14px 4px 5px;
    border: 1px solid red;
}
